
#intestazione {
    height: 150px;
    background-color: rgb(86, 111, 236);
    background-image: url("../img/pattern.png");
    background-size: 40%;
    background-repeat: repeat;
    position: relative;
    
}

#logo{
    width: 15%;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 5px;
}